.colaborador{
    width: 262px;
    margin-bottom: 24px;
    position: relative;
}

.icon-funcion{
    position: absolute;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}

.icon__delete{
    right: -10px;
    top: -10px;
}

.icon-edit{
    right: 20px;
    top: -10px;
}

.icon__delete:hover{
    font-size: 28px;
    color: #e53935
}

.icon-edit:hover{
    font-size: 28px;
    color: blue;
}

.encabezado{
    background-color: var(--destaque-programacion);
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
    height: 100px;
}

.encabezado__img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    bottom: -40px;
}

.info{
    background-color: var(--color-principal-blanco);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 25%);
    border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -ms-border-radius: 0px 0px 10px 10px;
    -o-border-radius: 0px 0px 10px 10px;
    padding-top: 25%;
    padding-bottom: 16px;
    min-height: 140px;
}

.info__nombre{
    color: var(--color-principal-azul);
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 8px;
 }

 .info__actividad{
    font-size: 18px;
    line-height: 22px;
    color: var(--color-principal-negro);
    padding: 0 24px;
    font-weight: 400;
    margin: 0;
 }

 .me-encanta{
    margin-top: 10px;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

 .me-encanta:hover{
    font-size: 25px;
 }

 .me-encanta--modificado{
    color: red;
 }