.ctn-equipo{
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
    text-align: center;
}

.titulo__principal-equipo--modificador{
    font-weight: 400;
    color: var(--color-principal-negro);
    padding-bottom: 8px;
    border-bottom: 4px solid;
    display: inline-block;
}
/*.colaboradores{

}*/