.ctn-equipo{
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.input-color{
    position: absolute;
    top: 20px;
    right: 40px;
}

.titulo__principal-equipo--modificador{
    font-weight: 400;
    color: var(--color-principal-negro);
    padding-bottom: 8px;
    border-bottom: 4px solid;
    display: inline-block;
}
.colaboradores{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
}